
.wellcome h1 {
	font-size: 2em;
}

.wellcome h1 > span {
	font-size: .8em;
	color: rgba(0,0,0,.6);
}

.main-footer.index, .index .info-box {
	background-color: #272727;
	color: #FFF;
}

.content-header.no-index h2 {
	font-size: 1.2em;
}

.content-header.no-index .info-box-number {
	font-size: 1.1em;
	font-weight: 400;
}

.content-header.no-index .info-box-icon {
	background-color: #FFF;
}

.img_secciones {
	margin-bottom: 1em;
}

.img_secciones img {
	max-width: 150px;
	max-height: 150px;
}

.widget-user .widget-user-username {
	font-size: 18px;
	text-transform: capitalize;
}

.widget-user .box-footer {
    padding-top: 40px;
}

.data-teacher li {
	position: relative;
	margin-left: 50px;
	padding: 8px 4px;
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.data-teacher li > .icon-list-data {
	position: absolute;
	text-align: center;
	width: 50px;
	left: -50px;
}

.data-teacher li > .icon-list-data {
	font-size: 2em;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #dd4b39;
}

.p-rel {
	position: relative;
}

.widget-user {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content-header .info-box .add-person {
	position: absolute;
	top: 50%;
	right: 2%;
	-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);	
}

.jGrowl-notification {
	opacity: 1;
	ms-filter: alpha(90);
    filter: alpha(90);
}

.jGrowl-notification .jGrowl-header {
    font-size: 1.1em;
    margin-bottom: .3em;
}

.btn-fixed {
    position: fixed;
    right: 23px;
    bottom: 23px;
    margin-bottom: 0;
    z-index: 998;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 1.8em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.icon-remove {
	width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    padding: 0 16px;
    font-size: 16px;
    min-width: 22px;
}